[submodule "loader-mb/libc"]
  path = loader-mb/libc
  url = https://github.com/MSathieu/freestanding-libc
[submodule "kernel/libc"]
  path = kernel/libc
  url = https://github.com/MSathieu/freestanding-libc
[submodule "libc/freestanding"]
  path = libc/freestanding
  url = https://github.com/MSathieu/freestanding-libc
