[submodule "loader-mb/libc"]
  path = loader-mb/libc
  url = https://git.strypsteen.me/freestanding-libc
[submodule "kernel/libc"]
  path = kernel/libc
  url = https://git.strypsteen.me/freestanding-libc
[submodule "libc/freestanding"]
  path = libc/freestanding
  url = https://git.strypsteen.me/freestanding-libc
[submodule "acpid/lai"]
  path = acpid/lai
  url = ../lai
[submodule "kernel/libelf"]
  path = kernel/libelf
  url = https://git.strypsteen.me/libelf
[submodule "loader-mb/libelf"]
  path = loader-mb/libelf
  url = https://git.strypsteen.me/libelf
[submodule "libraries/elf"]
  path = libraries/elf
  url = https://git.strypsteen.me/libelf
[submodule "kernel/libds"]
  path = kernel/libds
  url = https://git.strypsteen.me/libds
[submodule "libraries/ds"]
  path = libraries/ds
  url = https://git.strypsteen.me/libds
